<nav>
  <h3>{{ title }}</h3>
  <a routerLink="/list-emp" routerLinkActive='active-link'>Employees</a>
  <a routerLink="/login" routerLinkActive='active-link'>Login</a>
  <a routerLink="/view-emp" routerLinkActive='active-link'>View Employee</a>
  <a routerLink="/edit-emp" routerLinkActive='active-link'>Edit Employee</a>
  <a routerLink="/quantity-increment" routerLinkActive='active-link'>Quantity Increment</a>
  <a routerLink="/users" routerLinkActive='active-link'>Users</a>

</nav>

<router-outlet>

</router-outlet>